aroma-type.shop, www.aroma-type.shop {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle /docs {
		reverse_proxy backend:8080
	}

	handle /openapi.yaml {
		reverse_proxy backend:8080
	}

	handle /health {
		reverse_proxy backend:8080
	}

	handle /uploads/* {
		reverse_proxy backend:8080
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
